<div class="searchbar">
  <form action="/homepage-faculty" method="get" name="login-faculty" id="login">
    ID:      <input type="text" name="id" size=20><br/>
    Password:<input type="text" name="pw" size= 20><br/><br/>
    <button (click)="onLogin()">Login</button>
  </form>
  
  <div *ngIf="bInvalidLogin" class="invalid_login">Incorrect ID or password<br/></div>

</div>

<div class="searchbar">
  Test purpose area<br/>
  <a routerLink='/faculty' (click)="toggleNavbar()">Faculty view</a>
    <a routerLink='/admin' (click)="toggleNavbar()">Administrator view</a>
</div>

<script>
//Script is for changing between semesters. Need to press submit
//button to change to the page/semester that was selected.
function changeSemester() {
  var element = document.getElementById("selector");
  var selected = element.options[element.selectedIndex].value;
  if(selected == "spring2019"){
    routerLink="/courses-offered";
  }
  else if(selected == "fall2019"){
    routerLink="/courses-upcoming";
  }
}
</script>