<div class="topnav" style="background-color: white;">
    <button (click)="navigate()" class="secondary">Homepage</button>
</div>

<h3>Available Times</h3>
<table>
    <tr>
        <th>Day</th>
        <th>In</th>
        <th>Out</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Sunday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    <tr>
        <td>Monday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
    <tr>
        <td>Tuesday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
    <tr>
        <td>Wednesday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
    <tr>
        <td>Thursday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
    <tr>
        <td>Friday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td><input></td>
        <td><input></td>
        <td><button>&#43;</button></td>
        <td><button>&#8722;</button></td>
    </tr>
</table>