<head>
  <title>Admin Home Page</title>
</head>

<style>
  #hello {
    padding-left: 40%;
    padding-top: 10%;
  }
</style>

<nav id="hello">
  <ul>
    <li style="list-style-image: url(../../../assets/manageicon.png);">
      <button routerLink="/full-courselist/courses">Manage Course Sections</button>
      <br/>
      <h7>Click here to add, remove, or edit course sections.</h7>
    </li>
    <br/>
    <li style="list-style-image: url(../../../assets/conflictsicon.png);">
      <button (click)="navigate2()">View Conflicts</button>
      <br/>
      <h7>Click here to view scheduling conflicts.</h7>
    </li>
    <br/>
    <li style="list-style-image: url(../../../assets/uploadicon.png);">
      <button (click)="navigate3()">Upload Course Schedule</button>
      <br/>
      <h7>Click here to upload the semester course schedule.</h7>
    </li>
    <br/>
    <li style="list-style-image: url(../../../assets/viewhoursicon.png);">
      <button (click)="navigate4()">View Professor Hours</button>
      <br/>
      <h7>Click here to view the total accumulated hours of each professor.</h7>
    </li>
    <br/>
    <li style="list-style-image: url(../../../assets/uploadicon.png);">
      <button (click)="navigate5()">View List of Courses Offered</button>
      <br/>
      <h7>Click here to view the list of offered courses for next semester.</h7>
    </li>
  </ul>
</nav>