<!--navigation bar (currently just the homepage button)-->
<div class="topnav" style="background-color: #a5acb0;">
  <button routerLink="/admin" class="homepage">Homepage</button>
</div>

<!--page contents-->
<div class="card-deck" style="padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;">
  
  <!--left column-->
  <div class="card">
    <div id="leftColumnCardBody" class="card-body">
      <h1 class="card-title text-center">Upload</h1><br/><br/>
      <!--upload courses excel sheet-->
      <p class="card-text">
        Upload courses spreadsheet: 
        <input id="inputCourses" type="file" accept=".xlsx" (change)="onUploadCourses($event)"/>
      </p><br/>
      <!--upload professors excel sheet-->
      <p class="card-text">
        Upload professors  spreadsheet: 
        <input id="inputProfessors" type="file" accept=".xlsx" (change)="onUploadProfessors($event)"/>
      </p><br/>
      <small class="text-muted">Note: Uploading overwrites any existing courses or professors.</small>
      <p id="uploadFeedback" class="card-text"></p>
    </div>
  </div>

  <!--right column-->
  <div class="card">
    <div id="rightColumnCardBody" class="card-body"> 
      <h1 class="card-title text-center">Download</h1><br/><br/>
      <!--download courses excel sheet-->
      <p class="card-text">
        Course Schedule: 
        <button type="button" class="btn btn-link" (click)="onDownloadCourses()"> Download </button> 
      </p><br/>
      <!--download professors excel sheet-->
      <p class="card-text">
        Professors Information: 
        <button type="button" class="btn btn-link" (click)="onDownloadProfessors()"> Download </button> 
      </p><br/>
      <p id="downloadFeedback" class="card-text"></p>
    </div>
  </div>

</div>