table{
    font-family: arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid #000000;
    text-align: left;
    padding: 9px;
}

tr:nth-child(even) {
    background-color: #00704a;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}