<nav id="topNavbar" class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login-page">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
<div id="pageContents" class="card-deck w-90" style="padding-top: 5px; padding-left: 15px; padding-right: 15px; max-height: 100%;">
    <!--Search Professors-->
    <div id="professorSearch" style="padding-bottom: 10px; padding-top: 40px;">
        <form>
            <div class="col-sm">
                <div class="form-group" style="padding-bottom: 10px;">
                    <label for="searchName">Professor Name:</label>
                    <input name="searchName" [(ngModel)]="search.name" (ngModelChange)="onSearchName($event)" type="text" class="form-control">
                </div>
                <div class="form-check" style="padding-left: 20px; padding-bottom: 10px;">
                    <input name="searchUnder" [(ngModel)]="search.bHighlightUnder" (ngModelChange)="onHighlightUnder($event)" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="searchUnder">Highlight professors<br> under required hours</label>
                </div>
                <div class="form-check" style="padding-left: 20px; padding-bottom: 10px;">
                    <input name="searchOver" [(ngModel)]="search.bHighlightOver" (ngModelChange)="onHighlightOver($event)" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="searchOver">Highlight professors<br> with overtime</label>
                </div>
            </div>
        </form>
    </div>
    <!--Professors List-->
    <div id="professorList" class="card" style="background: #a5acb0; max-height: 700px;">
        <h3 class="text-center"><strong>2020 Professors</strong></h3>
        <div style=" overflow-y: auto"> <!--places the scroll bar next to the table-->
        <table class="table-striped table-bordered">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Fall Hours</th>
                <th>Spring Hours</th>
                <th>Total Hours</th>
                <th>Required Hours</th>
            </thead>
            <tbody name="filteredProfessorsList">
                <tr *ngFor="let professor of filteredProfessors" [ngClass]="highlightClass(professor.highlight)">
                    <td>{{professor.lastName}}, {{professor.firstName}}</td>
                    <td>{{professor.email}}</td>
                    <td>{{professor.fallHours}}</td>
                    <td>{{professor.springHours}}</td>
                    <td>{{professor.totalHours}}</td>
                    <td>{{professor.requiredHours}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>