<div class="topnav" style="background-color: white;">
    <button routerLink="/admin" class="secondary">Homepage</button>
</div>

<div class = row>
        <table>
            <tr>
                <th>Name</th>
                <th>Hours</th>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Jane Doe</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Adam Nimus</td>
                <td>7</td>
            </tr>
        </table>
</div>