/* COURSES */

.card{
  border: none;
  background: #a5acb0;
}

#courses{
  width: 100%;
  font-size: 1vw;
}

#courses th {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .9rem;
  padding: 9px;
  height: 20px;
}

#courses tr.conflict{
  background-color: rgb(255, 38, 38);
  color: white;
}

table{
  background-color: white;
}

/* calendar */

#calendar{
  background-color: white; 
  margin-left: 3vw; 
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  max-height: 50vh;
  overflow: auto;
}

#calendar .table thead th{
  width: 10vw;
  border-top: none;
  border-left: 2px solid #dee2e6;
  font-size: .9vw;
}

#calendarTimeColumn{
  width: 6vw; 
  border-left: none;
}

#calendarBodyRow td{
  height: 25px;
  padding: 2px;
  font-size: 12px;
  border-left: 2px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
}

.calendarEvent{
  border-radius: 2px;
  color: white;
  font-size: 1vw;
  position: absolute;
  background-color: #00B4FC;
  cursor: pointer;
}

.calenderEvent:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background: #00B4FC;
}

.calendarEvent.conflict{
  background: crimson;
}

/* topnav */
.navbar {
float:right;
padding: 5px 5px;
border-radius: 2px;
background-color: #a5acb0;

}

.navbar a {
  color: #02754E;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #a5acb0;
  border-radius: 2px;
}

.navbar a:hover {
  background-color: #02754E;
  color: white;
}

.navbar a:focus {
  color: #02754E;
  background-color: #EEEEEE;
  border-color: #a5acb0;
}