<body style="background-color:#a5acb0;">

  <div class="topnav" style="background-color:#a5acb0;">
    <button routerLink="/faculty" class="secondary">Homepage</button>
    <form id="selector" action="" method="" style=" display: inline-block;">
      <label style=" padding-left: 15px;">Select Semester: </label>
      <select style=" margin-left: 15px;">
        <option value="spring2019">Spring2019</option>
        <option value="fall2019">Fall2019</option>
      </select>
      <input type="submit" value="Submit" onclick="changeSemester()" style=" margin-left: 15px;">
    </form>
  </div>

  <!--
  <div class="row">
  <button (click)="navigate()">Home Page</button>
  <form id="selector" action="" method="">
    <label>Select Semester </label>
    <select>
      <option value="spring2019">Spring2019</option>
      <option value="fall2019">Fall2019</option>
    </select>
    <input type="submit" value="Submit" onclick="changeSemester()">
  </form>
</div>
-->

<!-- <div class="row" style="height:200px; overflow-y: scroll"> -->
<div class="card-deck" style="padding-top: 5px; padding-left: 15px; padding-right: 15px;">
  <div class="card w-90" style="background-color:#a5acb0;">
    <form>
      <label for="subject">Subject:&nbsp;</label>
      <input type="text" id="subject" name="subject"><br>
      <label for="coursenum">Course Number:&nbsp;</label>
      <input type="text" id="coursenum" name="coursenum"><br>
      <label for="title">Title:&nbsp;</label>
      <input type="text" id="title" name="title"><br>
      <label for="keyword">Keyword:&nbsp;</label>
      <input type="text" id="keyword" name="keyword"><br>
      <label for="avtime">Available Time:&nbsp;</label>
      <input type="time"> to <input type="time"><br>
      <input type="submit" value="Search">
    </form>
  </div>
</div>

<!-- <div class ="row"> -->
  <div class="card-deck" style="padding-top: 15px; padding-left: 15px; padding-right: 15px;">
    <!-- <div class="column" style="height: 650px; overflow-y: auto;"> -->
      <div class="card mw-40" style="background-color:#a5acb0;">
        <h3>Current Assigned Course List for Dr. Anca Doloc Mihu</h3>
        <table id="courses">
            <thead>
                <tr>
                    <th style="width:5em">CRN</th>
                    <th style="width:5em">DEPT</th>
                    <th style="width:6em">Course<br>Number</th>
                    <th style="width:auto">Title</th>
                    <th style="width:5em">Section</th>
                    <th style="width:7em">Days and Time</th>
                    <th style="width:7em">Classroom</th>
                </tr>
            </thead>
            <tr>
                <td>20858</td>
                <td>ITEC</td>
                <td>2150</td>
                <td>Intermediate Programming</td>
                <td>01</td>
                <td>R<br>10:30 - 11:15</td>
                <td>C2130</td>
            </tr>
            <tr>
                <td>21408</td>
                <td>ITEC</td>
                <td>3150</td>
                <td>Advanced Programming</td>
                <td>02</td>
                <td>S<br>12:00 - 13:15</td>
                <td>B2100</td>
            </tr>
            <tr>
                <td>21718</td>
                <td>ITEC</td>
                <td>4550</td>
                <td>Mobile Application Development</td>
                <td>02</td>
                <td>MW<br>14:00 - 15:15</td>
                <td>C1130</td>
            </tr>
            <tr class="conflict">
                <td>21719</td>
                <td>ITEC</td>
                <td>4550</td>
                <td>Mobile Application Development<br>Conflict with: Dr. Brannock</td>
                <td>03</td>
                <td>MW<br>08:00 - 09:15</td>
                <td>C1130</td>
            </tr>
        </table>
    </div>

  <!-- <div class="column" style="overflow-y: auto;"> -->
  <div class="card mw-40" style="background-color:#a5acb0;">
    <div class="calendar">

        <h1 id="welcome" style="padding-left: 5px;"><b>Calendar</b></h1>
      
        <div class="outer">
      
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th style="font-size: 13px;">Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
          </table>
      
          <div class="wrap">
            <table class="offset">
              <tbody>
                <tr>
                  <!-- TODO Implement a true calendar for faculty that gets data from the .JSON. The current calendar
                  is hard coded -->
                  <!-- TODO Change onclick="showConflict()" to a better name/function. showConflict is currently a stand in
                  until a better function is created for the above TODO reasons -->
                  <td class="headcol">8:00 AM</td>
                  <td>
                    <!--Old div for this calendar block. Was too long
                      <div class="event triple" style="background-color: red"><input id="check" type="checkbox" class="checkbox" /><label
                    for="check"></label>Mobile Application Development CRN: 21719 CRSE #: 4550 Room: C1130</div> -->
                    <div class="event triple" onclick="showConflict()" style="background-color: red"><input id="check" type="checkbox" class="checkbox"/><label
                      for="check"></label>ITEC 4550-03
                      <div id="exampleConflict" class="modal">
                        <div class="modal-content">
                            Name: Mobile Application Development
                            <br>
                            Department: ITEC
                            <br>
                            Course Number: 4550
                            <br>
                            Section: 03
                            <br>
                            Room: C1130
                            <br>
                            Day: MW
                            <br>
                            Time: 08:00-09:15
                            <br>
                            Credits: ***INSERT CREDITS***
                            <br>
                            Professor: Doloc-Mihy, Anca
                        </div>
                    </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <!-- <div class="event triple" style="background-color: red"><input id="check" type="checkbox" class="checkbox" /><label
                    for="check"></label>Mobile Application Development CRN: 21719 CRSE #: 4550 Room: C1130</div> -->
                    <div class="event triple" onclick="showConflict()" style="background-color: red"><input id="check" type="checkbox" class="checkbox"/><label
                      for="check"></label>ITEC 4550-03
                      <div id="exampleConflict" class="modal">
                        <div class="modal-content">
                            Name: Mobile Application Development
                            <br>
                            Department: ITEC
                            <br>
                            Course Number: 4550
                            <br>
                            Section: 03
                            <br>
                            Room: C1130
                            <br>
                            Day: MW
                            <br>
                            Time: 08:00-09:15
                            <br>
                            Credits: ***INSERT CREDITS***
                            <br>
                            Professor: Doloc-Mihy, Anca
                        </div>
                    </div>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">9:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">10:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <!-- <div class="event double"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Intermediate Programming
                      CRN: 20858 CRSE #: 2150
                      Room: C2130</div> -->
                      <!-- TODO change  onclick="showDetail10ATh()" to a better name/more functional function-->
                      <div class="event double" onclick="showDetail10ATh()"><input id="check" type="checkbox" class="checkbox"/><label
                        for="check"></label>ITEC 2150-01
                        <!-- TODO change id="detailView10ATh" to a better name that matches the above onclick -->
                        <div id="detailView10ATh" class="modal">
                          <div class="modal-content">
                              Name: Mobile Application Development
                              <br>
                              Department: ITEC
                              <br>
                              Course Number: 2130
                              <br>
                              Section: 01
                              <br>
                              Room: C1130
                              <br>
                              Day: R
                              <br>
                              Time: 10:30-11:15
                              <br>
                              Credits: ***INSERT CREDITS***
                              <br>
                              Professor: Doloc-Mihy, Anca
                          </div>
                      </div>
                      </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">11:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">12:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <!-- <div class="event double"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Advanced Programming
                      CRN: 21408 CRSE #: 3150
                      Room: B2100</div> -->
                      <!-- TODO change  onclick="showDetail12PS()" to a better name/more functional function-->
                      <div class="event double" onclick="showDetail12PS()"><input id="check" type="checkbox" class="checkbox"/><label
                        for="check"></label>ITEC 3150-02
                        <!-- TODO change id="detailView12PS" to a better name that matches the above onclick -->
                        <div id="detailView12PS" class="modal">
                          <div class="modal-content">
                              Name: Mobile Application Development
                              <br>
                              Department: ITEC
                              <br>
                              Course Number: 3150
                              <br>
                              Section: 02
                              <br>
                              Room: B2100
                              <br>
                              Day: S
                              <br>
                              Time: 12:00-13:15
                              <br>
                              Credits: ***INSERT CREDITS***
                              <br>
                              Professor: Doloc-Mihy, Anca
                          </div>
                      </div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">1:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">2:00 PM</td>
                  <td>
                    <!-- <div class="event triple"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Mobile Application Development CRN: 21718 CRSE #: 4550 Room: C1130</div> -->
                        <!-- TODO change  onclick="showDetail2PM()" to a better name/more functional function-->
                        <div class="event triple" onclick="showDetail2PM()"><input id="check" type="checkbox" class="checkbox" /><label
                          for="check"></label>ITEC 4550-02
                          <!-- TODO change id="detailView2PM" to a better name that matches the above onclick -->
                          <div id="detailView2PM" class="modal">
                            <div class="modal-content">
                                Name: Mobile Application Development
                                <br>
                                Department: ITEC
                                <br>
                                Course Number: 4550
                                <br>
                                Section: 02
                                <br>
                                Room: C1130
                                <br>
                                Day: MW
                                <br>
                                Time: 14:00-15:15
                                <br>
                                Credits: ***INSERT CREDITS***
                                <br>
                                Professor: Doloc-Mihy, Anca
                            </div>
                        </div>
                        </div>
                  </td>
                  <td></td>
                  <td>
                    <!-- TODO change  onclick="showDetail2PW()" to a better name/more functional function-->
                    <div class="event triple" onclick="showDetail2PW()"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>ITEC 4550-02
                        <!-- TODO change id="detailView2PW" to a better name that matches the above onclick -->
                        <div id="detailView2PW" class="modal">
                          <div class="modal-content">
                              Name: Mobile Application Development
                              <br>
                              Department: ITEC
                              <br>
                              Course Number: 4550
                              <br>
                              Section: 02
                              <br>
                              Room: C1130
                              <br>
                              Day: MW
                              <br>
                              Time: 14:00-15:15
                              <br>
                              Credits: ***INSERT CREDITS***
                              <br>
                              Professor: Doloc-Mihy, Anca
                          </div>
                      </div>
                      </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">3:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">4:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">5:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">6:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">7:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">8:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">9:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">10:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
