<body style="background-color:#a5acb0; height: 100%; width: 100%;">

  <div class="topnav" style="background-color:#a5acb0;">
    <button routerLink="/faculty" class="secondary">Homepage</button>
    <form id="selector" action="" method="" style=" display: inline-block;">
      <label style=" padding-left: 15px;">Select Semester: </label>
      <select style=" margin-left: 15px;">
        <option value="spring2019">Spring2019</option>
        <option value="fall2019">Fall2019</option>
      </select>
      <input type="submit" value="Submit" onclick="changeSemester()" style=" margin-left: 15px;">
    </form>
  </div>

  <!--The upper box containing the course search form and the results from that search-->
  <div id="upperBox" class="card-deck w-90" style="padding-top: 5px; padding-left: 15px; padding-right: 15px; overflow-y: auto; max-height: 300px;">
    <!--The course search form-->
    <div id="searchCourses" *ngIf="!bShowResults" class="card" style="background-color:#a5acb0;">
      <form>
        <div class="form-row">
          <div class="form-group" style="padding-left: 10px;">
            <label for="searchCRN">CRN:</label>
            <input id="searchCRN" [(ngModel)]="course.crn" name="searchCRN" type="text" class="form-control">
          </div>
          <div class="form-group" style="padding-left: 10px;">
            <label for="searchDepartment">Department:</label>
            <input id="searchDepartment" [(ngModel)]="course.department" name="searchDepartment" type="text" class="form-control">
          </div>
          <div class="form-group" style="padding-left: 10px;">
            <label for="searchNumber">Course Number:</label>
            <input id="searchNumber" [(ngModel)]="course.number" name="searchNumber" type="text" class="form-control">
          </div>
          <div class="form-group" style="padding-left: 10px;">
            <label for="searchTitle">Title:</label>
            <input id="searchTitle" [(ngModel)]="course.title" name="searchTitle" type="text" class="form-control">
          </div>
          <div class="form-group" style="padding-left: 10px;">
            <label for="searchTime">Available Time:</label><br>
            <input type="time" [(ngModel)]="course.startTime" name="startTime"> to <input type="time" [(ngModel)]="course.endTime" name="endTime">
          </div>
          <div class="form-check" style="padding-left: 30px;">
            <input id="searchNewClasses" [(ngModel)]="course.bNewClasses" name="bNewClasses" type="checkbox" class="form-check-input" checked>
            <label class="form-check-label" for="searchNewClasses">Include new classes in search</label>
          </div>
        </div>
        <input type="submit" value="Search" (click)="searchCourses()">
        <p *ngIf="bNoResults" style="color: crimson;">There were no classes that match your search description.</p>
      </form>
    </div>
    <!--The results of the course search-->
    <div id="courseSearchResults" *ngIf="bShowResults" class="card w-90" style="background-color:#a5acb0;">
      <input type="submit" value="Clear Search Results" (click)="clearSearch()">
      <table class="table">
        <thead>
          <tr>
            <th>CRN</th>
            <th>Title</th>
            <th>Details</th>
            <th>Time</th>
            <th>Room</th>
            <th>Max Students</th>
            <th>Add To Course List</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of foundCourses">
            <td>{{course["CRN"]}}</td>
            <td>{{course["TITLE"]}}</td>
            <td>ITEC {{course["CRSENO"]}}, {{course["SECTNO"]}}</td> <!--TODO variable department-->
            <td>{{course["DAYS"]}} <br> {{course["START"]}} - {{course["END"]}}</td>
            <td>{{course["ROOM"]}}</td>
            <td>{{course["PER"]}}</td>
            <td><button class="btn" (click)="selectCourse(course)">Add Course</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-deck" style="padding-top: 15px; padding-left: 15px; padding-right: 15px;">
    <!-- The selected course list bottom left card -->
    <div class="card mw-40" style="background-color:#a5acb0;">
      <h3>Current Assigned Course List for Dr. Anca Doloc Mihu</h3>
      <!--<h3>{{semester}} {{year}} Course List for {{user}}</h3> TODO, update with variables-->
      <p *ngIf="!(selectedCourses.length > 0)">You have not added any courses yet.</p>
      <table id="courses" *ngIf="selectedCourses.length > 0" class="table">
        <thead>
          <tr>
            <th>CRN</th>
            <th>Title</th>
            <th>Details</th>
            <th>Time</th>
            <th>Room</th>
            <th>Max Students</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody name="selectedCoursesList">
          <tr *ngFor="let course of selectedCourses; let i = index">
            <td>{{course["CRN"]}}</td>
            <td class="text-truncate">{{course["TITLE"]}}</td>
            <td>ITEC {{course["CRSENO"]}}, {{course["SECTNO"]}}</td> <!--TODO variable department-->
            <td>{{course["DAYS"]}} <br> {{course["START"]}} - {{course["END"]}}</td>
            <td>{{course["ROOM"]}}</td>
            <td>{{course["PER"]}}</td>
            <td>
              <select name="priorityDropdown" (change)="updateChanges(i)"> <!--TODO, limit the amount of high etc-->
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
                <option value="remove">Remove</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- The calendar bottom right card -->
  <div id="calendar" class="card mw-40" style="background-color:#a5acb0;">
    <div class="calendar">

        <h1 id="welcome" style="padding-left: 5px;"><b>Calendar</b></h1>
      
        <div class="outer">
      
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th style="font-size: 13px;">Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
              </tr>
            </thead>
          </table>
      
          <div class="wrap">
            <table class="offset">
              <tbody>
                <tr>
                  <td class="headcol">8:00 AM</td>
                  <td>
                    <div class="event triple" style="background-color: red"><input id="check" type="checkbox" class="checkbox" /><label
                    for="check"></label>Mobile Application Development CRN: 21719 CRSE #: 4550 Room: C1130</div>
                  </td>
                  <td></td>
                  <td><div class="event triple" style="background-color: red"><input id="check" type="checkbox" class="checkbox" /><label
                    for="check"></label>Mobile Application Development CRN: 21719 CRSE #: 4550 Room: C1130</div></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">9:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">10:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="event double"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Intermediate Programming
                      CRN: 20858 CRSE #: 2150
                      Room: C2130</div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">11:00 AM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">12:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="event double"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Advanced Programming
                      CRN: 21408 CRSE #: 3150
                      Room: B2100</div>
                  </td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">1:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">2:00 PM</td>
                  <td>
                    <div class="event triple"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Mobile Application Development CRN: 21718 CRSE #: 4550 Room: C1130</div>
                  </td>
                  <td></td>
                  <td>
                    <div class="event triple"><input id="check" type="checkbox" class="checkbox" /><label
                        for="check"></label>Mobile Application Development CRN: 21718 CRSE #: 4550 Room: C1130</div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">3:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">4:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">5:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">6:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">7:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">8:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">9:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol">10:00 PM</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="headcol"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
