<!-- create course modal -->
<div id="createSectionModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- create course form -->
            <div class="modal-body">
                <form>
                    <div class="col">
                        <!-- room -->
                        <div class="form-group row">
                            <label style="padding-top: 8px;" for="sectionRoom">Room: </label>
                            <div class="col">
                                <input name="sectionRoom" type="text" class="form-control">
                            </div>
                        </div>
                        <!-- days -->
                        <div class="form-group row">
                            <label style="padding-top: 8px;">Days: </label>
                            <div class="col">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">M</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">T</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">W</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">R</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">F</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button">S</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- time -->
                        <!-- credits -->
                        <!-- max students -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="pageContents" class="card-group" style="padding: 15px;">
    <!-- courses list -->
    <div id="coursesOffered" *ngIf="selectedCourseSections.length == 0" class="card">
        <h3 class="text-center">Courses Offered This Semester</h3>
        <!-- course search box -->
        <form style="padding-bottom: 10px;">
            <input name="courseSearch" class="form-control" [(ngModel)]="courseSearch" (ngModelChange)="onSearchCourse($event)" type="text" placeholder="Enter course's name or number">
        </form>
        <!-- courses table header -->
        <div class="shipping-item">
            <span><b>Course Number</b></span>
            <span><b>Title</b></span>
        </div>
        <!-- courses table -->
        <div style="overflow-y: auto;">
            <div class="shipping-item" *ngFor="let courseNum of uniqueCourseNums; index as i" (click)="selectCourse(courseNum)">
                <span>{{ courseNum }}</span>
                <span>{{ uniqueCourseTitles[i] }}</span>
            </div>
        </div>
    </div>

    <!-- sections list -->
    <div id="courseSections" *ngIf="selectedCourseSections.length != 0" class="card">
        <h3 class="text-center">Courses {{ selectedCourseSections[0]["CourseNum"] }} Sections</h3>
        <h4 class="text-center">{{ selectedCourseSections[0]["Title"] }}</h4>
        <!-- sections table header -->
        <div class="shipping-item">
            <span><b>Section</b></span>
            <span><b>Days</b></span>
            <span><b>Start</b></span>
            <span><b>End</b></span>
        </div>
        <!-- sections table -->
        <div style="overflow-y: auto;">
            <div class="shipping-item" *ngFor="let section of selectedCourseSections" (click)="selectSection(section, $event)">
                <span>{{ section["SectionNum"] }}</span>
                <span>{{ section["Days"] }}</span>
                <span>{{ section["Start"] }}</span>
                <span>{{ section["End"] }}</span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn" data-toggle="modal" data-target="#createSectionModal">Create Section</button>
            <button class="btn" (click)="clearSelectedCourse()">Back</button>
        </div>
        <!-- add new course section -->
        <div *ngIf="selectedSection != null">
            <div class="d-flex justify-content-between">
                <button class="btn" (click)="removeSelectedSection()">Remove Section</button>
                <button class="btn" data-toggle="modal" data-target="#createSectionModal" (click)="copySelectedSection()">Copy Section</button>
            </div>
        </div>
    </div>

    <!-- calendar -->
    
</div>