<nav id="topNavbar" class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-page">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<h2 id="tablename" style="padding-left: 10px">Scheduling Conflicts</h2>
<button (click)="refreshConflicts()">Refresh</button>
<!--
<li *ngFor="let course of courseConflicts">
  <span>{{course["Title"]}}: </span>
  <span>{{course["Professors"].length}} signed up</span>
</li>
-->
<p style="padding-left: 20px;">View Details:</p>
   <ul *ngFor="let course of courseConflicts" class="acc-section"  style="width:50%; padding-left: 10px">

    <button class="accordion">{{course["Title"]}}</button>
      <div class="content">
        <ul>
          <li>CRN: {{course["CRN"]}}</li>
          <ul *ngFor="let professor of course[&quot;Professors&quot;]">
            <p>Email: {{professor["Email"]}}</p>
            <p>Priority: {{professor["Priority"]}}</p>
          </ul>
        </ul>
      </div>


    <!-- Kyle had the Conflicts part, if there's a different name for this first one it can be changed -->
    <!--
     <button class="accordion">Advanced Programming</button>

       <div class="content" >
         <ul>

       <li>Course ID: 3900</li>
   <p>Course Name: Advanced Programming</p>
   <p>Section Number: 04</p>
   <p>Course Times: TR 1:00 - 2:30</p>
   <p>Faculty Member: Phillip rederick</p>

           <li>Course ID: 3900</li>
   <p>Course Name: Advanced Programming</p>
   <p>Section Number: 04</p>
   <p>Course Times: MWF 5:00 - 6:30</p>
   <p>Faculty Member: James Sweeny</p>

         </ul>
       </div>
     <button class="accordion">Networking</button>
       <div class="content">
         <ul>
           <li>Course ID: 2200</li>
   <p>Course Name: Networking</p>
   <p>Section Number: 02</p>
   <p>Course Times: M 3:00 - 4:30 PM</p>
   <p>Faculty Member: Bob Dylan</p>
           <li>Course ID: 2200</li>
   <p>Course Name: Networking</p>
   <p>Section Number: 02</p>
   <p>Course Times: TR 8:00 - 9:30 AM</p>
   <p>Faculty Member: Jeffery Plague</p>
         </ul>
       </div>
     <button class="accordion">Algebra 2</button>
       <div class="content">
         <ul>
           <li>Course ID: 1100</li>
   <p>Course Name: Algebra 2</p>
   <p>Section Number: 01</p>
   <p>Course Times: MWF 6:00 - 8:30 AM</p>
   <p>Faculty Member: Norman Hughes</p>

   <li>Course ID: 1100</li>
   <p>Course Name: Algebra 2</p>
   <p>Section Number: 01</p>
   <p>Course Times: TR 4:00 - 6:30 PM</p>
   <p>Faculty Member: Norman Hughes</p>
         </ul>
       </div>
     <button class="accordion">Chemistry</button>
       <div class="content">
         <ul>
           <li>Course ID: 4500</li>
   <p>Course Name: Chemistry</p>
   <p>Section Number: 05</p>
   <p>Course Times: M 1:00 - 3:30 PM</p>
   <p>Faculty Member: Jessie Fuller</p>
           <li>Course ID: 4500</li>
   <p>Course Name: Chemistry</p>
   <p>Section Number: 05</p>
   <p>Course Times: TR 12:00 - 2:30 PM</p>
   <p>Faculty Member: Margret Johnson</p>
         </ul>
       </div>
      </ul> -->
    </ul>
 <!-- <button class="reportbtn" (click)="showPopup()">Send Conflict Report to Scheduler</button>
 <button type=button class="btn btn-primary"  (click)="clickMethod('name')">Delete me</button> -->



