<!-- The header as specified in src/app/header/header.component/html -->
<app-header></app-header>

 <div class="header h1">
    <h1>scheduler</h1>
    <!--<nav class="navbar">
      <a routerLink='./login-page'>Login</a> </nav> -->
  </div>

  <body style="background-color:#a5acb0;">
    <!-- <div class="navbar" id="logout" style = "text-align:right">
      <a routerLink='/login-page'>Log Out</a>
    </div> -->
  </body>

<div>

  <router-outlet></router-outlet>

  </div>

  <!-- The footer as specified in src/app/footer/footer.component/html -->
  <app-footer></app-footer>